
.lg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-radius: 8px;
  background-color: #F8cc27;
}

.lg-container h1{
  font-size: 48px;
  margin-bottom: 8px;
}

.lg-container span{
  margin-bottom: 28px;
}

.lg-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}

.lg-form input{
  border:0;
  margin-bottom: 12px;
  height: 36px;
  border-radius: 4px;
  padding: 0 8px;
}

.lg-form button{
  height: 36px;
  border:0;
  border-radius: 4px;
  background-color: #ea541c;
  color: #FFF;
  font-size: 18px;
}

.lg-button-link{
  color: #ea541c;
  text-decoration: none;
  margin: 14px 0;
  font-size: 14px;
}

.lg-div-senha{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 0;
}

.lg-div-senha input{
  width: 100%;
  margin-right: 4px;
}
