.ttm_container{
  flex-direction: column;
  width: 100%;
  display: flex;  
  transition: height 0.3s ease-in-out;
}

.ttm_texto{
  text-align: justify;
  width: 100%;
  margin-bottom: 4px;
}

.ttm_prepadada{
  color: green;
  width: 80px;
}

.ttm_botoes{
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ttm_btn{
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.ttm_btn:hover{
  transform: scale(1.1);
}

.ttm_btn:active{
  transform: scale(0.9);
}