.cr_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  /* margin-bottom: 55px; */
  padding-bottom: 55px;
  max-width: 500px;
}

.cr_proficiencias{
  margin-bottom: 8px;
}

.cr_titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #ea541c;
  margin-bottom: 4px;
}

.cr_titulo hr{
  width: 100%;
  height: 1px;
  margin-left: 4px;
  margin-top: 4px;
  border-color: #ea541c;
}

.cr_div-rodape-botao{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 63px;
  display: flex;
  justify-content: center;
}

.cr_bt-adicionar{
  text-decoration: none;
  background-color: #ea541c;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  height: 45px;
  width: 120px;
  justify-content: space-evenly;
  padding: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
  color: #F8cc27;
  font-size: 15px;
}

.cr_bt-adicionar:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.cr_bt-adicionar:active {
  transform: scale(0.9);
}

.cr_img-adicionar{
  height: 28px;
  width: 28px;
  filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(5deg);
}

/* Estiliza o fundo escuro quando o modal está aberto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mca_container{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 16px;
}

.mca_titulo{
  background-color: #000;
  width: 100%;
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 8px;
}

.mca_form{
  width: 100%;
  margin-bottom: 0px;
  padding: 8px;
}

.mca_div-edit{
  display: flex; 
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
  justify-content: space-between;
}

.mca_div-edit label{
  margin-bottom: 2px;
}

.mca_edit{
  border: 2px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
}

.mca_edit:focus {
  border-color: rgba(216, 13, 13, 0.4); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.mca_botoes{
  display: flex;
  justify-content: end;
}

.mca_btn-cancelar{
  text-decoration: none;
  background: #ea541c;
  border: 0px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.mca_btn-salvar{
  text-decoration: none;
  background: #F8cc27;
  border: 0px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 18px;
}

.cr-proficiencia{
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid black;
  margin-bottom: 4px;
  padding-right: 8px;
}

.ca-cd-div-flag {
  width: 75px;
  height: 65px;
  background: black;
  text-align: center;
  padding-bottom: 8px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  color: #F8cc27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  left: 15%;
}

.ca-cd-div-flag span{
  font-size: 16px;
}

.ca-cd-div-flag label{
  font-size: 11px;
}

.ca-separador2{
  height: 1px; 
  width: 15px; 
  margin-bottom: 2px;
  background-color: #F8cc27;
}
