.pup_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  max-width: 500px;
  justify-content: center;
}

.pup_div-rodape-botao{
  height: auto;
  position: fixed;
  bottom: 200px;
  display: flex;
  right: 16px ;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* X, Y, desfoque, cor */
  background-color: #F8cc27;
  border-radius: 8px;
}

.pup_form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pup_form input{
  border: none;
  padding: 8px 8px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 100%;
}

.pup_form select, option{
  border: none;
  padding: 8px 8px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 100%;
  background-color: white;
}


