/* Estiliza o fundo escuro quando o modal está aberto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mxp_container{
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 45px;
  font-size: 25px;
}

.mxp_titulo{
  background-color: #000;
  width: 100%;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 8px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
}

.mxp_form{
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mxp_edit{
  border: 2px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 50%;
  margin: 8px 0;
  font-size: 25px
}

.mxp_edit:focus {
  border-color: rgba(216, 13, 13, 0.4); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.mxp_botoes{
  display: flex;
  justify-content: end;
}

.mxp_btn-cancelar{
  text-decoration: none;
  background: #ea541c;
  border: 0px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.mxp_div-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mxp_nivel-fundo{
  background-color: #000;
  height: 4px;
  width: 100%;
  position: relative;
  bottom: 1px;
  border-radius: 2px;
  max-width: 400px;
  overflow: hidden;
}

.mxp_nivel-frente{
  width: 0%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #ea541c;
  z-index: 2;
}

.mxp_nivel-expectiva{
  width: 0%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #F8cc27;
  z-index: 1;
}