
.pri-container{
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  transition: all 0.3s ease-in-out;
  max-width: 465px;
}

.pri_texto{
  text-align: justify;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.pri_botoes{
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 465px;
}

.pri_btn{
  height: 25px;
  width: 25px;
  margin-left: 4px;
}

.pri_btn:hover{
  transform: scale(1.1);
}

.pri_btn:active{
  transform: scale(0.9);
}

.pri_div-esquerda{
  border: 2px;
  height: 60px;
  width: 60px;
  border-color: #ea541c;
  border-radius: 30px;
  border-style: dashed;
  align-items: center;
  justify-items: center;
  display: flex;
  padding: 2px;
  margin-right: 8px;
}

.pri_img-esquerda{
  height: 55px;
  width: 55px;
}

.pri_div-nivel{
  border: 3px solid;
  height: 55px;
  width: 48px;
  border-color: black;
  border-radius: 16px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
  flex-direction: column;  
}

.pri_div-vida{
  padding: 8px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url('../../res/vida.svg');
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.pri_div-centro{
  position: absolute;
  margin-left: 68px;
  margin-right: 8px;
  display: flex;
  font-size: 14px;
  text-align: left;
  min-width: 40%;
  width: max-content;
  flex-direction: column;
}

.pri-linha-1{
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Alternativa para compatibilidade */
}

.pri-linha-2{
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Alternativa para compatibilidade */
}

.pri-linha-3{
  font-size: 12px;
}

.pri_div-direita{
  align-items: center;
  justify-items: center;
  justify-content: center;  
  padding: 2px;
  display: flex;
  flex-direction: row;
}

.pri-div-linha-3{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pri-div-linha-3 hr{
  border: 0.1px solid;
}

.pri-div-linha-3-item{
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.pri-separador{
  height: 1px;
  width: auto;
  background-color: black;
}

.pri_separador-vert{
  width: 1px;
  height: 100%;
  background-color: #9c9595;
  margin-left: 8px;
}