
.cai-container{
  flex-direction: column;
  width: 100%;
  display: flex;
}

.cai_texto{
  text-align: justify;
  width: 100%;
}

.cai_botoes{
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cai_btn{
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.cai_btn:hover{
  transform: scale(1.1);
}

.cai_btn:active{
  transform: scale(0.9);
}