.pr_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  padding-bottom: 55px;
  max-width: 500px;
}

.pr_personagens{
  margin-bottom: 8px;
}

.pr_titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #ea541c;
  margin-bottom: 4px;
}

.pr_titulo hr{
  width: 100%;
  height: 1px;
  margin-left: 4px;
  margin-top: 4px;
  border-color: #ea541c;
}

.pr_div-rodape-botao{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 63px;
  display: flex;
  justify-content: center;
}

.pr_bt-adicionar{
  text-decoration: none;
  background-color: #ea541c;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  height: 45px;
  width: 120px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #F8cc27;
  font-size: 15px;
  margin-right: 8px;
}

.pr_bt-adicionar:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.pr_bt-adicionar:active {
  transform: scale(0.9);
}

.pr_img-adicionar{
  height: 28px;
  width: 28px;
  filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(5deg);
}

.pr_bt-deslogar{
  text-decoration: none;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  height: 32px;
  width: 75px;
  justify-content: space-evenly;
  padding: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 12px;
}

.pr_bt-deslogar:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.pr_bt-deslogar:active {
  transform: scale(0.9);
}

.pr_img-deslogar{
  height: 16px;
  width: 16px;
}

.pr_usuario{
  display: flex;
  flex-direction: column;
}