@import "tailwindcss";

:root {
  --background: #f5f4f4;
  --foreground: #171717;
  --cprimary: #2F3E2E;   /* #e9bd20, yellow-300 */  /*sugestoes: #2F3E2E, #3B1E5A, #1F1F1F, #2C3E50 #c97156*/
  --csecundary: #C9A24D; /* #EA580C, orange-600 */  /*sugestoes: #C9A24D, #4FD1C5, #8B1E1E, #B87333*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f4f4;
    --foreground: #171717;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

/* Oculta scrollbars em todos os navegadores */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}