.bta-div-rodape-botao{
  width:120px;
  height: auto;
  position: fixed;
  bottom: 63px;
  display: flex;
  justify-content: center;
  align-self:center;
}

.bta-bt-adicionar{
  text-decoration: none;
  background-color: #ea541c;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  height: 45px;
  width: 120px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #F8cc27;
  font-size: 15px;
  margin-right: 8px;
}

.bta-bt-adicionar:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.bta-bt-adicionar:active {
  transform: scale(0.9);
}

.bta-img-adicionar{
  height: 28px;
  width: 28px;
  filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(5deg);
}