
.cr-pro-item{
  display: flex;
}

.cr-pro-noproficiente{
  height: 8px;
  width: 8px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 8px;
}

.cr-pro-proficiente{
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 8px;
}

.cr-pro-texto{
  display: flex;
  justify-content: space-between;
  width: 100%;
}