.vz_container{
  padding: 8px 8px 55px 8px;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.vz_imagem{
  display: flex;
  flex-direction: column;
}

.vz_balao{
  position: relative;
  align-content: start;
  height: 150px;
  left: 120px;
}

.vz_personagem{
  height: 200px;
  position: relative;
  align-content: end;
}

.vz_strong{
  color: rgb(94, 92, 92);
  font-size: 32px;
  text-align: center;
}

.vz_button{
  margin-top: 16px;
  background-color: #ea541c;
  color: #F8cc27;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border: 0;
  font-size: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Elevação */
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}