.mg-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  margin-bottom: 55px;
  max-width: 500px;
}

.mg-div-rodape-botao{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 63px;
  display: flex;
  justify-content: center;
}

.mg-bt-adicionar{
  text-decoration: none;
  background-color: #ea541c;
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  height: 45px;
  width: 120px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #F8cc27;
  font-size: 15px;
  margin-right: 8px;
}

.mg-bt-adicionar:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.mg-bt-adicionar:active {
  transform: scale(0.9);
}

.mg-img-adicionar{
  height: 28px;
  width: 28px;
  filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(5deg);
}

/* Estiliza o fundo escuro quando o modal está aberto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mmg_container{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 16px;
}

.mmg_titulo{
  background-color: #000;
  width: 100%;
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 8px;
}

.mmg_form{
  width: 100%;
  margin-bottom: 0px;
  padding: 8px;
}

.mmg_div-edit{
  display: flex; 
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
  justify-content: space-between;
}

.mmg_div-edit label{
  margin-bottom: 2px;
}

.mmg_edit{
  border: 2px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
}

.mmg_edit:focus {
  border-color: rgba(216, 13, 13, 0.4); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.mmg_textarea{
  border: 2px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  height: 100px;
}

.mmg_textarea:focus {
  border-color: rgba(216, 13, 13, 0.4); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.mmg_div-checkbox{
  display: flex;
  width: 100%;
  height: 65px;
  margin: 8px;
  align-items: center;
  padding-top: 25px;
  gap: 4px;
}

.mmg_botoes{
  display: flex;
  justify-content: end;
}

.mmg_btn-cancelar{
  text-decoration: none;
  background: #ea541c;
  border: 0px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.mmg_div-3coluna{
  display: flex;
  justify-content: space-between;
}

.mmg_div-3coluna div{
  width: 120px;
}

.mmg_div-2coluna{
  display: flex;
  justify-content: space-between;
}

.mmg_div-2coluna div{
  width: 48%;
  margin-right: 4px;
}

.mg_cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.mg_cb-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: khaki; */
}

.mg_cb-item span{
  font-size: 16px;
}

.mg_cb-item label{
  font-size: 12px;
}

.mg_linha-vert{
  width: 4px;
  border-left: 1px black solid;
  height: 50px;
}

.mmg_div-busca{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mmg_lista-busca{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 9000;
}

.mmg_lista-busca-item {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.mmg_lista-busca-item:hover {
  background: #f0f0f0;
}

.mmg_lista-busca-item hr {
  height: 1px;
  margin-top: 4px;
  margin-bottom: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  color:rgba(0, 0, 0, 0.1);
}

