.tetm-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;  
  padding-bottom: 8px;  
  justify-content: space-between;
}

.tetm-container strong{
  text-align: center;
  width: 100%;
}

.tetm-titulo{
  width: 100%;
  text-align: start;
  height: 25px;
}

.tetm-checkbox{
 margin: 4px;
}