.pcp_container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  max-width: 500px;
  justify-content: center;
}

.pcp_div-rodape-botao{
  height: auto;
  position: fixed;
  bottom: 200px;
  display: flex;
  right: 16px ;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* X, Y, desfoque, cor */
  background-color: #F8cc27;
  border-radius: 8px;
}
.pcp_form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pcp_form input{
  border: none;
  padding: 8px 8px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  margin-right: 8px;
}

.pcp_edit-mid{
  width: 100%;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 8px;
}

.pcp-atrib{
  font-size: 12px;
}

