.ft_bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #F8cc27;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  z-index: 9999;
  align-items: center;
}

.ft_button_disfarcado {
  text-decoration: none;
  background: none;
  border: none;
  color: #ea541c;
  font-size: 18px;
  cursor: pointer;
  padding: 2px;
  display: flex;
}

.ft_button_disfarcado:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(1.1);
}

.ft_button_disfarcado:active {
  transform: scale(0.9);
}

.ft_img32px{
  height: 32px;
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(-10deg); 
}

.ft_div-ficha{
  padding: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* X, Y, desfoque, cor */
  background-color: #ea541c;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ft_img40px{
  height: 40px;
  filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(5deg);
}