.fi-container{
  padding-bottom: 55px;
  max-width: 500px;
}

.fi-cabecalho{
  padding: 8px;
  background-color: #F8cc27;
  height: 140px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.fi-cb-esquerda{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fi-textos{
  display: flex;
  width: 75%;
  flex-direction: column;
  margin-bottom: 8px;
}

.fi-cbe-linhasecundaria{
  font-size: 12px;
}

.fi-cb-flag{
  display: flex;
  flex-direction: row;
}

.fi-corpo{
  height: auto;
}

.fi-cd-div-flag {
  width: 75px;
  height: 65px;
  background: black;
  text-align: center;
  padding-bottom: 8px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  color: #F8cc27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
}

.fi-cd-div-flag span{
  font-size: 16px;
}

.fi-cd-div-flag label{
  font-size: 11px;
}

.fi-cb-imgclasse{
  width: 20%;
  height: 115px;
  background-image: url('../../res/classe.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
}

.fi-cb-imgclasse img{
  height: 55px;
  width: 55px;
}

.fi-cb-direita{
  width: 40%;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-items: start;
  align-items: end;
  justify-content: flex-start;
}

.fi-separador2{
  height: 1px; 
  width: 15px; 
  margin-bottom: 2px;
  background-color: #F8cc27;
}

.fi-separador{
  height: 1px; 
  width: 100%; 
  background-color: black;
}

.fi-atributos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
  gap: 10px; /* Espaçamento entre os elementos */
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  background-color: white;
  border-radius: 8px;
  height: auto;
  padding: 8px;
  margin: 8px 8px 0 8px;
}

.fi-ataques{
  height: auto;
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
}

.fi-magias{
  height: auto;
  padding: 4px 8px 0 8px;
}

.fi-vidas{
  background-color: white;
  height: auto;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  flex-direction: row;
  display: flex;
}

.fi-at-conteudo{
  width: 100%;
  height: auto;
}

.fi-at-btn-descreto{
  text-decoration: none;
  border: none;
  background-color: white;
  height: 18px;
  color: darkslategrey;  
}

.fi-outras{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 14px;
  width: 25%;
}

.fi-cd-div-percepcao{
  background-color: black;
  color: #F8cc27;
  display: flex;
  border-radius: 4px;
  margin-bottom: 2px;
  justify-content: space-around;
  flex-direction: column;
  padding: 3px;
  align-items: center;
  width: 75px;
}

.fi-cd-div-percepcao span{
  font-size: 16px;
}

.fi-cd-div-percepcao label{
  font-size: 11px;
  text-align: center;
}

.fi-div-outras{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}

.fi-div-outras strong{
  margin-bottom: 8px;
  text-align: center;
}

.fi-salvagarda{
  display: flex;
  flex-direction: column;
  width: 75%;
  border-right: 1px solid black;
  margin-right: 8px;  
}

.fi-sg-propriedade{
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.fi-sg-propriedade label{
  margin-right: 8px;
  font-size: 14px;
}

.fi-sg-noproficiente{
  height: 8px;
  width: 8px;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 4px;
}

.fi-sg-proficiente{
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: black;
  margin-right: 4px;
}

.fi-sg-item{
  display: flex;
  align-items: center;
}

.fi-cb-img-upar{
  height: 17px;
  width: 17px;
  margin-left: 8px;
}