.ttm-container{
  border-right: 1px solid #000;
  border-bottom: 0px solid #000;
  width: 160px;
  height: 100px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  padding: 8px;  
}

.ttm-titulo{
  width: 100%;
  margin-bottom: 8px;
  text-align: start;
}

.ttm-checkbox{
 margin: 4px;
}