.vd-container{
  border-right: 1px solid #000;
  width: 50%;
  height: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: 8px;
}

.vd-titulo{
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.vd-valores{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.vd-vidaatual{
  padding: 0px 8px 0px 8px;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vd-vdatual-botoes{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
}

.vd-vdatual-botaomais{
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  background-color: #ea541c;
  border: 0;
  border-right: 1px solid #f8cc27;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #F8cc27;
  padding: 8px;
}

.vd-vdatual-botaomenos{
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  background-color: #ea541c;
  border: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #F8cc27;
  padding: 8px;
}

.vd-vidacentro{
  padding: 8px 0px 0px 8px;
  padding-top: 8px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-left: 1px solid #000;
}

.vd-vidatemp{
  height: 50%; 
  width: 100%;
}

.vd-linha{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.vd-vidadireita{
  padding: 8px 0px 0px 8px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-left: 1px solid #000;
 }

 .vd-number-label {
  background: transparent;  /* Remove o fundo */
  border: none;             /* Remove a borda */
  font-size: 13px;          /* Define o tamanho da fonte */
  color: black;             /* Define a cor do texto */
  text-align: center;       /* Centraliza o texto */
  width: 50px;              /* Define uma largura fixa */
  outline: none;            /* Remove a borda ao focar */
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

/* Estilização ao passar o mouse */
.vd-number-label:hover {
  cursor: pointer;
}

/* Estilização ao focar */
.vd-number-label:focus {
  border-bottom: 1px solid #ea541c; /* Adiciona um sublinhado ao editar */
}

.fi_div-vida{
  padding: 8px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  
  background-image: url('../../res/vida.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  margin-right: 2px;
}